<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Device Grant Example</title>
        <link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.css" th:href="@{/webjars/bootstrap/css/bootstrap.css}" />
        <link rel="stylesheet" href="/assets/css/style.css" th:href="@{/assets/css/style.css}" />
    </head>
    <body>
        <div class="jumbotron">
            <div class="container">
                <div class="row">
                    <div class="col-md-8">
                        <form th:action="@{/oauth2/device_verification}" method="post">
                            <h2>Device Activation</h2>
                            <p>Enter the activation code to authorize the device.</p>
                            <p class="gap">Activation Code</p>
                            <div class="form-group">
                                <label class="sr-only" for="user_code">Activation Code</label>
                                <input type="text" class="form-control" id="user_code" name="user_code" placeholder="Activation Code" autofocus>
                            </div>
                            <button type="submit" class="btn btn-default">Submit</button>
                        </form>
                    </div>
                    <div class="col-md-4">
                        <img src="https://cdn.pixabay.com/photo/2017/07/03/15/20/technology-2468063_1280.png" class="img-responsive" alt="Devices">
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
