name: PR build

on:
  pull_request:
    branches:
      - '**'

jobs:
  build:
    name: Build
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
        jdk: [17]
      fail-fast: false
    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK ${{ matrix.jdk }}
        uses: spring-io/spring-gradle-build-action@v2
        with:
          java-version: ${{ matrix.jdk }}
          distribution: 'temurin'
      - name: Build with Gradle
        run: ./gradlew clean build
